.Chart {
    padding: 10px;
    margin: 10px;
    background-color: #ECECEC;
    border-radius: 4px;
    top: 300px;
    position: relative;
    width: 300px;
    display: flex;
    left: 40%;
    align-items: end;
    justify-content: center;
}